<%- include('./partials/navbar.ejs'); %>
<h1 class="mt-4"><%= cursos.name %></h1>
<p class="lead mb-3">Preguntas:</p>

 <% var i=1 ;%>
 <div class="card-columns">
  <% cursos.pregunta.forEach(function(pregunta){%>
  <div class="card">
    <div class="card-body">
      <a href="/preguntas/?id=<%= pregunta%>">
      <h4 class="card-title"> PREGUNTA <%= i%></h4>
      <p class="card-text"><%=pregunta.enunciado %></p>
    </a>
    </div>
  </div>
  <%  i++; %>
 <% })%>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-primary btn-lg btn-block" href="/curso/createPregunta/?id=<%=cursos.id %>" role="button">Crear pregunta</a>
    
    </div>
    <div class="col-sm">
      <a class="btn btn-primary btn-lg btn-block" href="/curso/editCurso/?id=<%=cursos.id %>" role="button">Editar curso</a>
      <a class="btn btn-secondary btn-lg btn-block" href="/curso/deleteCurso/?id=<%=cursos.id %>" role="button">Eliminar curso</a>
    </div>
  </div>
</div>

