<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">TFG</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav  mr-auto justify-content-between">
        <a class="nav-item nav-link" href="#">Cursos </a>
        <a class="nav-item nav-link" href="#">Ranking</a>
      </div>
      <div class="navbar-nav  ml-auto justify-content-between">
        <a class="nav-item nav-link" href="#">Opciones</a>
        <a class="nav-item nav-link" href="/users/logout" >Cerrar sesion</a>
      </div>
    </div>
  </nav>
<h1 class="mt-4">CURSOS</h1>
<p class="lead mb-3">Bienvenido <%= name %> </p>


<div class="card-columns">
  <% cursos.forEach(function(cursos){%>
  <a href=/curso/<%= cursos.id %>
    <div class="card">
    <img class="card-img-top img-fluid" src="/img/placeholder.svg" alt="Card image cap">
    <div class="card-body">
      <a href="/curso/?id=<%= cursos.id %>">
      <h4 class="card-title"> <%= cursos.name %></h4>
      <p class="card-text"><%=cursos.description %></p>
    </a>
    </div>
  </div>
</a>
 <% })%>
</div>



<div class="container">
    <a class="btn btn-primary btn-lg btn-block" href="/dashboard/createCurso" role="button">Crear curso</a>
</div>
