<%- include('./partials/navbar.ejs'); %>
<h1 class="mt-4">EDITAR CURSO</h1>
<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3">
          <i class="fas fa-book"></i> Editar Curso</h1>
          <%- include('./partials/messages.ejs'); %>
        <form action="/curso/editCurso/?id=<%=curso.id %>" method="POST">
          <div class="form-group">
            <label for="name">Nombre del curso</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              value="<%=curso.name %>"
            />
          </div>
          <div class="form-group">
            <label for="description">Descripcion</label>
            <input
              type="text"
              id="description"
              name="description"
              class="form-control"
              value="<%=curso.description%>"
            />
          </div>
          <div class="form-group">
            <label for="level">Nivel</label>
              <select class="form-control" id="level" name="level">
                <option value="principiante">Principiante</option>
                <option value="intermedio">Intermedio</option>
                <option value="avanzado">Avanzado</option>
              </select>   
          </div>
          <div class="form-group">
            <label for="aUnlock">Aprobar desbloquea</label>
              <select class="form-control" id="aUnlock" name="aUnlock">
                <option value="none">Ninguno</option>
                <% cursos.forEach(function(cursos){%>
                <option value="<%= cursos._id %>"><%= cursos.name %></option>
                <% })%>
              </select>   
          </div>
          <div class="form-group">
            <label for="bUnlock">Aprobar desbloquea</label>
              <select class="form-control" id="bUnlock" name="bUnlock">
                <option value="none">Ninguno</option>
                <% cursos.forEach(function(cursos){%>
                  <option value="<%= cursos._id %>"><%= cursos.name %></option>
                  <% })%>
              </select>   
          </div>
          <div class="form-group">
            <label for="unlocked">Desbloqueado de inicio</label>
            <input type="checkbox" id="unlocked" name="unlocked" value=true>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Editar curso</button>
        </form>
      </div>
    </div>
  </div>